.header {
  display: flex;
  height: 4rem;
  padding: 0.8em 1em;
  background-color: black;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;  
}

.input {
  flex-basis: 100%;
  font-size: 1.2rem;
  outline: 0;
}

.button {
  background-color: #EDC0C2;
  outline: 0;
  border: 0;
  border-radius: 10%;
}

.button:hover {
  background-color: #E9575B;
}

.button:hover .buttonImg{
  transform: scale(1.2);
}

.buttonImg {
  height: 100%;
  padding: 0.5em 0.2em;
  transition: transform 50ms ease-in;
}
